/* Start -- Custom Hero V2 */
/* Start Custom richtext-2 band */
.hero-v2-section,
[data-lucid-group="Hero V2 Tagline Stack (1)"] {
    & .section-container {
        padding: 0 !important;
        max-width: 100% !important;
        
        & .section-content {
            height: calc(75vh);

            & .tagline-width {
                max-width: none !important;
                height: 100%;
                display: flex;
                flex-flow: column;

                & .section-richtext {
                    &.richtext-1 {
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;
                        padding-left: var(--custom-spacing-two);
                        padding-right: var(--custom-spacing-two);

                        @media only screen and (max-width: 1024px) {
                            padding-top: 40px;
                            padding-bottom: 40px;
                        }
                    }

                    &.richtext-2 {
                        backdrop-filter: blur(20px);
                        -webkit-backdrop-filter: blur(20px);
                        padding: var(--custom-spacing-two) var(--custom-spacing-four);

                        @media only screen and (max-width: 1024px) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        @media only screen and (max-width: 700px) {
                            border: none;
                            padding-bottom: 40px;
                        }

                        & ul {
                            list-style-type: none;
                            margin: 0;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-around;
                            column-gap: 10px;

                            @media only screen and (max-width: 700px) {
                                display: block;
                            }

                            & li {
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;
                                column-gap: 10px;
                                margin-bottom: 0;

                                @media only screen and (max-width: 700px) {
                                    margin-bottom: 15px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
/* END Custom richtext-2 band */
